.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 20px; */
  height: 100%;
  /* background-color: #f0f0f0; */
  padding-left: 50px;
  padding-right: 50px;
  background-color: lightgray;
}

.view-all {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.view-all span {
  font-weight: bold;
  color: #000; /* Black text color */
}

.pagination {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #000; /* Black text color */
}

.separator {
  width: 40px; /* Adjust the width as needed */
  height: 1px;
  background-color: #000; /* Black separator line */
  margin: 0 10px;
}

.cart-section {
  display: flex;
  align-items: center;
}

.cart-icon {
  font-size: 20px; /* Slightly larger icon size */
  margin-right: 10px;
  color: #000; /* Black icon */
}

.add-to-cart {
  background-color: #000 !important; /* Black background */
  color: #fff; /* White text color */
  padding: 10px 15px;
  font-size: 16px;
  margin-right: 10px;
  text-transform: uppercase;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #000; /* Black price text */
  background-color: #fff; /* White background for the price */
  /* padding: 10px 15px; */
}
